* {
    --blue: #001a5b;
    --red: #bb042b;
    --white: white;
}

.flag {
    background-color: var(--blue);
    display: flex;
    width: 50vw; 
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 70vh;
}

.up_left {
    background-color: var(--white);
    height: 45%;
}

.down_left {
    display: flex;
    background-color: var(--white);
    height: 45%; 
    align-items: flex-end;
}

.red_left {
    background-color: var(--red);
    height: 80%;
    width: 80%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

.up_right {
    display: flex;
    justify-content: end;
    background-color: var(--white);
    height: 45%;
}

.down_right {
    display: flex;
    justify-content: end;
    background-color: var(--white);
    height: 45%; 
    align-items: flex-end;
}

.red_right {
    background-color: var(--red);
    height: 80%;
    width: 80%;
}

